<table border=0 cellspacing=5 cellpadding=5>
 <tr>
  <td width=103 valign=middle>
    <p><object id="ImageSubsets" type="PhotoAlbumTag"></p>
  </td>
  <td width=487 valign=middle>
    <p><object id="ImageSubsetDescription" type="PhotoAlbumTag"></p>
  </td>
 </tr>
</table>

