/*
        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <http://www.gnu.org/licenses/>.

		Written by: Bryant Hansen <sourcecode@bryanthansen.net>
		Copyright (c) 2008 by Bryant Hansen
*/

BODY
{
	background-color: Black;
	color: White;
}
.IndexBody
{
	background-color: #000033;
	color: White;
	background-image: url(../templates/background.jpg);
	background-repeat: no-repeat;
	background-position:   50% 0;
	background-attachment: fixed;
	
}
a:link {color: #00FF00}  /* unvisited link */
a:visited {color: #2020E0}     /* visited link */
a:hover {color: #FF00FF}   /* mouse over link */
a:active {color: #0000FF}   /* selected link */

/*
A
{
	color: #FFFF33;
	active: #FFFF66;
	visited: #FFCC66;
}
*/
