<table border=0 cellspacing=5 cellpadding=5>
 <tr>
  <td width=103 valign=top>
    <p><object  	 id="CurrentSet" type="PhotoAlbumTag"></p>
  </td>
  <td width=487 valign=top>
    <p><object  	 id="CurrentSetDescription" type="PhotoAlbumTag"></p>
  </td>
 </tr>
</table>

