<!-- copyright (c) 2006-2014 by Bryant Hansen -->
<!-- all rights reserved -->

<!--
This template provides 1 row of a table to fill in.
The view will be affected by:
  The style sheet (currently style.css in html dir for completed page)
    background
    justification
        
  Global properties of documents including a table of images (currently just index.html)

TODO: 
  add class names to table elements for individual adjustment in style.css
-->

<!-- WARNING: comments break comments that we're inserted into.  What to do? -->

<table class="ImageSet">
 <tr>
  <td>
    <p><object id="ThumbnailN" type="PhotoAlbumTag"></p>
  </td>
  <td>
    <p><object id="ThumbnailN" type="PhotoAlbumTag"></p>
  </td>
  <td>
    <p><object id="ThumbnailN" type="PhotoAlbumTag"></p>
  </td>
 </tr>
 <tr>
  <td>
    <p><object id="DescriptionN" type="PhotoAlbumTag"></p>
    <br>
  </td>
  <td>
    <p><object id="DescriptionN" type="PhotoAlbumTag"></p>
    <br>
  </td>
  <td>
    <p><object id="DescriptionN" type="PhotoAlbumTag"></p>
    <br>
  </td>
 </tr>
</table>
