body {
    text-align:center;
    background-color: #101010;
    background-color: #00387d;
    background-color: #5a6a7d;
    background-color: #2a313a;
    color: #efcfb7;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.IndexBody
{
    background-color: #000033;
    color: White;
    background-image: url(../templates/background.jpg);
    background-repeat: no-repeat;
    background-position:   50% 0;
    background-attachment: fixed;

}
h1 {
    text-shadow: 2px 2px 2px #14171b;
    font-size: x-large;
    font-style:italic;
    margin: 5px;
}
h3 {
    margin: 1px;
    padding: 1px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
td.heading,
div.CurrentSetDescription,
div.ImageSubsets,
a.start_slideshow
{
    background-color: #333b46;
    border-radius: 30px;
    box-shadow: inset 2px 2px 2px 2px #14171b;
    padding: 3px;
}

div.InfoPanel,
p.copyright
{
    margin: 4px;
    border-radius: 12px;
    padding: 4px;
    background-color: #333b46;
    box-shadow: inset 2px 2px 2px 2px #14171b;
    /* background-color: white; */
}
p.copyright
{
    border-radius: 8px;
}
div.InfoPanel div
{
    border-radius: 15px;
    padding: 8px;
}
/*
div {
    border: solid #808080 2px;
}
table {
    border: solid #C07070 1px;
}
td {
    border: solid white 1px;
}
*/
td.StatsCell div {
    text-align: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
}
div.AvailableResolutions {
    padding-left: 20px;
}
div.CurrentSetDescription {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1px;
}
h3.ImageSubsetHeader {
    margin-bottom: 1px;
}
table.ImageSubset,
table.ImageSubset td
{
    margin-top: 1px;
}
table.ImageSubset td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
div.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div.main table {
    margin-left: auto;
    margin-right: auto;
}
a:link    {   /* unvisited link */
    color: #c1906b;
    text-decoration:none;
}
a:visited {   /* visited link */
    color: #96633b;
    text-decoration:none;
}
a:hover   {   /* mouse over link */
    color: #efb384;
    text-decoration:none;
}
a:active  {   /* selected link */
    color: #efe2d9;
    text-decoration:none;
}
div.images h3,
table.ImageSet
{
    margin-bottom: 1px;
    margin-top: 1px;
}
div.img
{
    display: table;
    text-align:center;
    margin:2px;
    height:300px;
    width:auto;
    float:left;
}
div.img_inner
{
    display: table-cell;
    vertical-align: center;
}
table.ImageSet td {
    padding: 10px;
}
div.img img {
    text-align:center;
    vertical-align: middle;
    display:inline;
    margin:3px;
    border:1px solid Black;
    /*
    position:absolute;
    top:0;
    bottom:0;
    */
    margin:auto;
}
div.img a:hover img {
    border:1px solid #B0B0B0;
}
div.desc {
    text-align:center;
    font-weight:normal;
    width:120px;
    margin:2px;
}

a.start_slideshow
{
    margin: 4px;
    padding: 4px;
    background-color: #14171b;
}

div.start_slideshow {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-image: url(../templates/button1.png);
    background-repeat: no-repeat;
    background-position:   100% 100%;
    background-attachment: fixed;
}
td.StatsCell,
div.exif
{
    text-shadow: 2px 2px 2px black;
}
td.StatsCell {
    vertical-align: bottom;
}
td.StatsCell,
td.ImageLeftMargin
{
    width: 20%;
}
td#ImageCell {
    padding: 5px;
}
img#image1a {
    padding: 20px;
    border-style: solid;
    border-color: #101010;
    border-width: 1px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #404040;
    margin-bottom: 10px;
}
img#image1 {
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: #101010;
    border-width: 1px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #404040;
    margin-bottom: 10px;
}
div.AvailableResolutions {
}
div.AvailableResolutions p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0px;
    padding-left: 20px;
}

